<!DOCTYPE html>
<html>
<head>
	<title>Focus: {{.Name}}</title>
    <script src="/ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
	<style>
	    #editor {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 90%;
        border: 1px solid black;
        margin: 1em;
        padding: 1em;
	    }
	</style>
</head>
<body>
    <div id="editor" data-vpp-api="{{.API}}" data-vpp-name="{{.Name}}"></div>
	<script src="/client.js"></script>
</body>
</html>